<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hubbleadvance.utils.ideveloper.dao.user.IUserDao">

  <select id="list" resultMap="list">
    select id, uname, pwd, role from user
    order by id
  </select>

  <select id="get" resultMap="get" parameterType="java.lang.String">
    select id, uname, pwd, role from user
    where id= #{id}
  </select>
  
  <select id="getByUname" resultMap="get" parameterType="java.lang.String">
    select id, uname, pwd, role from user
    where uname = #{uname}
  </select>

  <insert id="save" parameterType="com.hubbleadvance.utils.ideveloper.domain.user.User">
    insert into user(id, uname, pwd, role)
    values (#{id},#{uname},#{pwd},#{role})
  </insert>

  <insert id="batchSave" parameterType="java.util.List">
    insert into user(id, uname, pwd, role)
    values 
    <foreach collection="list" separator="," index="no" item="it">
      (#{it.id},#{it.uname},#{it.pwd},#{it.role})
    </foreach>
    
  </insert>

  <delete id="remove" parameterType="java.lang.String">
    delete from user where id= #{id}
  </delete>

  <delete id="batchRemove" parameterType="java.util.List">
    delete from user where id in 
    <foreach open="(" close=")" collection="list" separator="," index="list" item="it">
      #{it}
    </foreach>
  </delete>
  
  <update id="update" parameterType="com.hubbleadvance.utils.ideveloper.domain.user.User">
    update user 
    <set>
      <if test="pwd != null">
        pwd = #{pwd}
      </if>
    </set>
    where id = #{id}
  </update>

  <resultMap type="com.hubbleadvance.utils.ideveloper.domain.user.User" id="list">
    <id property="id" column="id"/>
    <result property="uname" column="uname"/>
    <result property="pwd" column="pwd"/>
    <result property="role" column="role"/>
  </resultMap>

  <resultMap type="com.hubbleadvance.utils.ideveloper.domain.user.User" id="get">
    <id property="id" column="id" />
    <result property="uname" column="uname"/>
    <result property="pwd" column="pwd"/>
    <result property="role" column="role"/>
  </resultMap>
</mapper>